/** 
 *  @author Andrea Ballatore <https://sites.google.com/site/andreaballatore>
 *  @abstract CSS code for Context Frame app.
 */


body {
   /*position: relative;
   height: 100%;*/
      
   /* Margin bottom by footer height */
   /* margin-bottom: 40px; */
}

#map_container {
    position: fixed;
    top: 50px;
    bottom: 85px;
    right: 0;
    left: 0;
    vertical-align: top;
}

#map { min-height: 100px; }

h1 {
	color: #006600;
}

#map_console {
	padding: .5em; font-size: small;
	/*
	background-color: #eeeeee; 
	*/
}

.distance_info {
	color: 'red';
	font-size: big;
}

.cities {
	color: #006600 !important;
}

.countries {
	color: #0066cc !important;	
}

.leaflet-tooltip {
	padding: 3px !important;
	padding-bottom: 1px !important;
	padding-top: 1px !important;
	cursor: pointer;
}

/* Class for important labels */
.label_heavier_cities {
	font-weight: bolder;
	color: white !important;
	background-color: #006600;
}

.distancekm {
	color: #999; 
	font-size: smaller;
}

.label_heavier_countries {
	font-weight: bolder;
	color: white !important;
	background-color: #0066cc;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  color: white;
  line-height: 40px; /* Vertically center the text there */
  background-color: black;
  font-size: 12px;
}

.leaflet-control-search, .search-button, .leaflet-control-zoom-in, .leaflet-control-zoom-out, 
	.leaflet-control-layers-toggle, .leaflet-control-layers, .leaflet-control-layers-base {
	opacity: 0.7;
}

